<template>
        <!--Trending-->
    <div class="md:block hidden w-1/2 h-full border-l border-white py-2 px-6 relative bg-black-200 text-white">
        <input class="pl-12 rounded-full w-full p-2 bg-white text-sm mb-4 text-black" placeholder="Search Tweets" />
         <font-awesome-icon class="fas fa-search absolute left-0 top-0 mt-5 ml-12 text-sm text-black" :icon="['fas', 'search']" />
        <div>
            <div>
                <div class="flex items-center justify-between p-3">
                    <p class="text-lg font-bold">About</p>
                    <i class="fas fa-cog text-lg text-blue"></i>
                </div>
                <div>
                    Name: {{ profile.name }}
                </div>
                <div>
                    Location: {{ profile.location }}
                </div>
                <div>
                    Website: <a style="color:lightblue; cursor:pointer" @click="goToWebsite">{{ profile.website }}</a>
                </div>
                <div>
                    {{ profile.bio }}
                </div>
            </div>
        </div>
        <div>
            <div class="flex items-center justify-between p-3">
                    <p class="text-lg font-bold">Followers</p>
                    <i class="fas fa-cog text-lg text-blue"></i>
            </div>
            <div>
                <template v-if="profile.following">
                    {{ profile.following.length }} following 20m followers
                </template>
            </div>
        </div>
        <div class="w-full rounded-lg bg-lightest">
            <div class="flex items-center justify-between p-3">
            <p class="text-lg font-bold">Following</p>
            <i class="fas fa-cog text-lg text-blue"></i>
        </div>
         <template v-if="profile.following">
            <button v-for="follow in profile.following" :key="follow.title" class="w-full flex justify-between hover:bg-gray-800 bg-gray-700 p-3 border-t border-white"  @click="goToProfile(follow.userName)">
                <div>
                    <p class="font-semibold text-sm text-left leading-tight"> {{ follow.userName}} </p>
                    <p class="text-left text-sm leading-tight text-dark"> @{{ follow.userName}} </p>
                </div>
                <i class="fas fa-angle-down text-lg text-dark">down</i>
            </button>
            <button class="p-3 w-full hover:bg-gray-500 text-left text-blue-400 border-t border-white">
                Show More
            </button>
        </template>
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import 'tailwindcss/tailwind.css'
import '../Tweet.vue'
import router from '@/router'

@Component
export default class ProfileRightNavBar extends Vue {
    @Prop() profile: any
    data () {
        return {
            following: [
        { name: 'Tim Chermin', userName: 'timc' },
        { name: 'NietTim', userName: 'sterk' },
        { name: 'Tim G', userName: 'FineFriend' },
        { name: 'Wessel Sparla', userName: 'Wessly' },
        { name: 'Ensar', userName: 'MoeilijkeAchternaam' },
        { name: 'Zen', userName: 'Doek' },
        { name: 'Matthijs', userName: 'MatIn2' }
      ]
        }
    }

    // @Watch('$route', { immediate: true, deep: true })
    //     onUrlChange (newVal: any) {
    //     console.log('')
    // }

    goToWebsite () {
        window.location.replace('//' + this.profile.website)
    }

    goToProfile (userName: string) {
        router.push({ name: 'Profile', params: { userName: userName } })
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
