<template>
        <!--User-->
    <div class="px-5 py-3 border-b border-gray-600 flex hover:bg-gray-900">
        <div class="flex items-center" @click="goToProfile(user.userName)">
            <div class="w-20 h-12">
                <img src="@/assets/TimPhoto.png" class="flex-none w-12 h-12 rounded-full border-gray-600"/>
            </div>
            <div class="pr-10">
                <div>
                    {{ user.name }}
                </div>
                <div id="UserName">
                    @{{ user.userName }}
                </div>
            </div>
            <div>
                {{ user.roles }}
            </div>
        </div>
        <div class="w-full px-4 pb-10 relative text-black">
            <button class="h-10 px-4 text-white font-semibold bg-blue-600 hover:bg-blue-800 focus:outline-none rounded-full absolute">
                Edit role
            </button>
            <button class="h-10 px-4 text-white font-semibold bg-red-600 hover:bg-red-800 focus:outline-none rounded-full absolute right-0">
                Remove User
            </button>
        </div>
    </div>
</template>

<script lang="ts">
import router from '@/router'
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class User extends Vue {
    @Prop() user: Array<string>

    data () {
        return {
            users: [
                { name: 'Tim', username: '@timc', roles: 'Administrator, Moderator' },
                { name: 'James', username: '@jam', roles: 'Administrator, Moderator' },
                { name: 'Pops', username: '@pops', roles: 'Administrator' }
            ]
        }
    }

     goToProfile (userName: string) {
        router.push({ name: 'Profile', params: { userName: userName } })
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
