<template>
        <!--TimeLine-->
    <div class="flex flex-row justify-between w-full h-full overflow-y-scroll">
        <div class="w-4/6 h-full text-white ">
            <div class="flex items-center justify-between px-5 py-3 border-b border-gray-700">
                <h1 class="text-xl font-bold">Profile</h1>
                <i class="text-xl far fa-star text-blue"></i>
            </div>
            <div class="flex px-5 py-3 border-b-8 border-gray-600">
                <div>
                    <img src="@/assets/TimPhoto.png" class="flex-none w-12 h-12 border-gray-600 rounded-full"/>
                </div>
                <div v-if="profile" class="w-3/6 pt-2">
                    {{ profile.name }}  @{{ profile.userName }}
                </div>
                <div>
                    <button v-if="profile.userIsFollowing" @click="unfollow(profile.userName)" class="absolute w-1/6 h-10 px-4 font-semibold text-white bg-green-600 rounded-full hover:bg-green-800 focus:outline-none">
                        Following
                    </button>
                    <button v-else-if="userProfile" class="absolute w-1/6 h-10 px-4 font-semibold text-white bg-green-600 rounded-full hover:bg-green-800 focus:outline-none">
                        Edit profile
                    </button>
                    <button v-else @click="follow(profile.userName)" class="absolute w-1/6 h-10 px-4 font-semibold text-white bg-green-600 rounded-full hover:bg-green-800 focus:outline-none">
                        Follow
                    </button>
                </div>
            </div>
            <template>
                <template v-if="tweets">
                    <div v-for="tweet in tweets" :key="tweet.id">
                            <tweet :tweet="tweet"/>
                    </div>
                </template>
            </template>
        </div>
        <template>
            <template v-if="profile">
                <profile-right-nav-bar :profile="profile"/>
            </template>
        </template>
     </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import 'tailwindcss/tailwind.css'
import '../components/profile/ProfileRightNavBar.vue'
import '../components/Tweet.vue'
import ProfileService from '@/services/ProfileService'
import TimelineService from '@/services/TimelineService'
import FollowerService from '@/services/FollowerService'

@Component
export default class Profile extends Vue {
    tweets: Array<string> = new Array<string>()
    profile: any
    profileService: ProfileService = new ProfileService()
    timelineService: TimelineService = new TimelineService()
    userProfile: boolean
    followService: FollowerService = new FollowerService()

    data () {
        return {
            profile: {},
            tweetsExample:
            [
                { id: '1', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna', user: 'TimChermin', username: '@timc', time: '2m' },
                { id: '2', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.', user: 'James', username: '@jam', time: '3m' },
                { id: '3', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit ', user: 'Pops', username: '@pops', time: '22d' }
            ]
        }
    }

    @Watch('$route', { immediate: true, deep: true })
        onUrlChange (newVal: any) {
            this.userProfile = false
        if (newVal.name === 'ProfileCurrentUser') {
            this.userProfile = true
            this.getProfile().then(Response => {
                this.profile = Response
            })

            this.getTimelinePersonalTweets().then(Response => {
                this.tweets = Response
            })
        }

        const userName = newVal.params.userName
        if (userName) {
            this.getProfileUser(userName).then(async Response => {
            this.profile = Response
            const userId = await this.getUserId()
            if (this.profile.guid === userId) {
                console.log('going true')
                this.userProfile = true
            }
            console.log(this.profile)
        })
          this.getTimelineUserTweets(userName).then(Response => {
            this.tweets = Response
        })
        }
        console.log(this.userProfile)
    }

    async getTimelinePersonalTweets (): Promise<string[]> {
        const userId = (await this.$auth.getUser()).id
        return await this.timelineService.getTimelinePersonalTweets(userId)
    }

    async getProfile (): Promise<string[]> {
        const userId = (await this.$auth.getUser()).id
        return await this.profileService.getProfile(userId)
    }

     async getTimelineUserTweets (userName: string): Promise<string[]> {
        return await this.timelineService.getTimelineUserTweets(userName)
    }

    async unfollow (userName: string) {
        const userId = (await this.$auth.getUser()).id
        const result = await this.followService.unfollow(userName, userId)
        console.log(this.profile.guid)
        this.profile.userIsFollowing = null
        console.log(result)
    }

     async follow (userName: string) {
        const userId = (await this.$auth.getUser()).id
        const result = await this.followService.follow(this.profile.guid, userName, userId)
        this.profile.userIsFollowing = true
    }

    async getUserId () {
        return (await this.$auth.getUser()).id
    }

    async getProfileUser (userName: string): Promise<string[]> {
        const userId = (await this.$auth.getUser()).id
        return await this.profileService.getProfileUser(userName, userId)
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
