<template>
        <!--TimeLine-->
    <div class="w-full h-full flex flex-row justify-between overflow-y-scroll">
        <div class="w-4/6 h-full text-white ">
            <div class="px-5 py-3 border-b border-gray-700 flex items-center justify-between">
                <h1 class="text-xl font-bold">Home</h1>
                <i class="far fa-star text-xl text-blue"></i>
            </div>
            <div class="px-5 py-3 border-b-8 border-gray-600 flex">
                <div>
                    <img src="@/assets/TimPhoto.png" class="flex-none w-12 h-12 rounded-full border-gray-600"/>
                </div>
                <div class="w-full px-4 pb-10 relative text-black">
                    <textarea v-model="tweetText" placeholder="Let everyone know you are not working right now!" class="w-full focus:outline-none"/>
                    <button @click="postTweet(tweetText)" class="h-10 px-4 text-white font-semibold bg-blue-600 hover:bg-blue-800 focus:outline-none rounded-full absolute bottom-0 right-0">
                        Tweet
                    </button>
                </div>
            </div>
            <div class="ml-40 mr-40">
                <template v-if="tweets">
                    <div v-for="tweet in tweets" :key="tweet.id">
                            <tweet :tweet="tweet"/>
                    </div>
                </template>
            </div>
        </div>
        <trending></trending>
     </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import 'tailwindcss/tailwind.css'
import '../components/Trending.vue'
import '../components/Tweet.vue'
import TimelineService from '@/services/TimelineService'
import ProfileService from '@/services/ProfileService'
import TweetService from '@/services/TweetService'

@Component
export default class Timeline extends Vue {
    tweets: Array<any> = new Array<any>()
    timelineService: TimelineService = new TimelineService()
    profileService: ProfileService = new ProfileService()
    tweetService: TweetService = new TweetService()
    tweetText: string
    data () {
        return {
            tweetsExample:
            [
                { id: '1', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna', user: 'TimChermin', username: '@timc', time: '2m' },
                { id: '2', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.', user: 'James', username: '@jam', time: '3m' }
            ],
            tweetText: ''
        }
    }

    mounted () {
        this.tweets = null
        this.getTimeline().then(Response => {
            console.log(Response)
            this.tweets = Response
        })
    }

    async getTimeline (): Promise<string[]> {
        const userId = (await this.$auth.getUser()).id
        return await this.timelineService.getTimelinePersonalTweets(userId)
    }

    async getProfile (userId: string): Promise<string[]> {
        return await this.profileService.getProfile(userId)
    }

    async postTweet (tweetText: string): Promise<void> {
        const userId = (await this.$auth.getUser()).id
        const profile: any = await this.getProfile(userId)
        const newTweet = { userId: userId, text: tweetText, user: profile.name, username: profile.userName, time: new Date().toDateString() }
        this.tweets.push(newTweet)
        this.tweetService.postTweet(newTweet)
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
