<template>
        <!--Users-->
    <div class="w-full h-full flex flex-row justify-between overflow-y-scroll">
        <div class="w-full h-full text-white ">
            <div class="px-5 py-3 border-b border-gray-700 flex items-center justify-between">
                <h1 class="text-xl font-bold w-1/12">Users</h1>
                <div class="w-8/12">
                    <font-awesome-icon class="fas fa-search absolute top-0 mt-5 text-sm text-black" :icon="['fas', 'search']" />
                    <input class="pl-12 w-full rounded-full p-2 bg-white text-sm mb-4 text-black" placeholder="Search User" />
                </div>
            </div>
             <div>
                <template v-if="users">
                    <div v-for="user in users" :key="user.id">
                            <user :user="user"/>
                    </div>
                </template>
            </div>
        </div>
     </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import 'tailwindcss/tailwind.css'
import '../components/users/User.vue'
import ProfileService from '@/services/ProfileService'

@Component
export default class Users extends Vue {
    profileService: ProfileService = new ProfileService()
    users: Array<any> = new Array<any>()

    mounted () {
        this.users = null
        this.getUsers().then(Response => {
            this.users = Response
        })
    }

     async getUsers (): Promise<string[]> {
        return await this.profileService.getUsers()
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
