<template>
        <!--left side nav bar-->
    <div class="w-1/5 border-r border-lighter px-8 py-2 flex flex-col justify-between">
        <div>
            <button class="focus:outline-none h-12 w-12 hover:bg-green-500 text-3xl rounded-full text-white">
                <font-awesome-icon :icon="['fas', 'dragon']" />
            </button>
            <div>
                <button v-for="tab in tabs" :key="tab.id" @click="id = tab.id" class="focus:outline-none hover:text-blue flex items-center py-2 px-4 hover:bg-green-500 hover:bg-opacity-25 rounded-full mr-auto mb-3 text-white"   :class="{'text-green-300':id == tab.id}"><font-awesome-icon class="text-2xl mr-4" :icon="['fas', `${ tab.icon}`]" />
                    <div @click="route(tab.route)">
                        <p class="text-lg font-semibold text-left hidden lg:block"> {{ tab.title }} </p>
                    </div>
                </button>
            </div>
                <!-- <h1 class="text-gray-400">Test</h1>
                    <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link> -->
        </div>
        <div v-if="!$auth.loading">
            <button v-if="!$auth.isAuthenticated" @click="login" class="flex items-center w-full focus:outline-none text-white">
                sign in here
            </button>
            <button v-if="$auth.isAuthenticated" @click="logout" class="flex items-center w-full focus:outline-none text-white">
                <img src="@/assets/TimPhoto.png" class="w-12 h-12 rounded-full" />
                <div class="hidden lg:block ml-4">
                    <p id="UserName" class="text-sm font-bold">{{ $auth.user.name }}</p>
                    <p class="text-sm"> {{ $auth.user.email }} </p>
                </div>
            </button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class LeftNavBar extends Vue {
    data () {
        return {
            tabs: [
                { icon: 'dragon', title: 'Home', id: 'home', route: '/' },
                { icon: 'user', title: 'Profile', id: 'profile', route: '/profile' },
                { icon: 'users', title: 'Users', id: 'users', route: '/users' }
            ],
			id: 'home'
        }
    }

    route (route: string) {
        this.$router.push(route)
    }

    login () {
        this.$auth.loginWithRedirect({})
    }

    logout () {
    this.$auth.logout({
      returnTo: window.location.origin
    })
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
