<template>
        <!--Trending-->
    <div class="md:block hidden w-1/3 h-full border-l border-white py-2 px-6 overflow-y-scroll overflow-y-hidden relative bg-black-200 text-white">
        <input class="pl-12 rounded-full w-full p-2 bg-white text-sm mb-4 text-black" placeholder="Search Tweets" />
        <i class="fas fa-search absolute left-0 top-0 mt-5 ml-12 text-sm text-light"></i>
        <div>
            <div>
                My Tweets: 100
            </div>
            <tweet :tweet="tweet"/>
        </div>
        <div class="flex flex-row pl-10 pt-2">
          <div>
            Following: 23
          </div>
          <div class="pl-40">
            Followers: 2m
          </div>
        </div>
        <div class="w-full rounded-lg bg-lightest">
            <div class="flex items-center justify-between p-3">
            <p class="text-lg font-bold">Trends for You</p>
            <i class="fas fa-cog text-lg text-blue"></i>
        </div>
        <button v-for="trend in trending" :key="trend.title" class="w-full flex justify-between hover:bg-gray-800 bg-gray-700 p-3 border-t border-white">
          <div>
            <p class="text-xs text-left leading-tight text-dark"> {{ trend.top}} </p>
            <p class="font-semibold text-sm text-left leading-tight"> {{ trend.title}} </p>
            <p class="text-left text-sm leading-tight text-dark"> {{ trend.bottom}} </p>
          </div>
          <i class="fas fa-angle-down text-lg text-dark"></i>
        </button>
        <button class="p-3 w-full hover:bg-gray-500 text-left text-blue-400 border-t border-white">
          Show More
        </button>
      </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import '../components/Tweet.vue'

@Component
export default class Trending extends Vue {
    data () {
        return {
            trending: [
        { top: 'NBA', title: 'Bucks', bottom: 'Trending with: Bucks' },
        { top: 'Entertainment', title: 'Daftpunk', bottom: '25K Tweets' },
        { top: 'United States', title: 'twitchstream', bottom: '10k tweets' },
        { top: 'NBA', title: 'Nuggets', bottom: '40k tweets' },
        { top: 'Music', title: 'Daftpunking', bottom: '25.4k tweets' }
      ],
      tweet: { id: '1', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna', user: 'TimChermin', username: 'timc', time: '23m' }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
