<template>
        <!--tweet-->
    <div class="flex flex-row border border-gray-700 hover:bg-gray-900">
        <div class="ml-3 mt-2 flex flex-row w-full">
            <div class="w-14 h-12 rounded-full" @click="goToProfile(tweet.username)">
                <img src="@/assets/TimPhoto.png" class="rounded-full hover:opacity-70" />
            </div>
            <div class="w-10/12 ml-4">
                <div class="flex flex-row" @click="goToProfile(tweet.username)">
                    <div class="hover:underline">
                        Tim Chermin
                    </div>
                    <div class="text-gray-400 ml-2">
                        @{{ tweet.username }} - {{ tweet.time }}
                    </div>
                </div>
                <div class="text-left mb-2">
                    {{ tweet.text }}
                </div>
                <div class="mb-2">
                    <font-awesome-icon :icon="['fas', 'comment']" class="mr-20"/>
                    <font-awesome-icon :icon="['fas', 'retweet']" class="mr-20"/>
                    <font-awesome-icon :icon="['fas', 'heart']" class="mr-20"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import 'tailwindcss/tailwind.css'
import '../components/Trending.vue'
import router from '@/router'

@Component
export default class Tweet extends Vue {
    @Prop() tweet: Array<string>
    data () {
        return {

        }
    }

    goToProfile (userName: string) {
        router.push({ name: 'Profile', params: { userName: userName } })
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
