<template>
  <div id="app" class="flex h-screen w-screen bg-green-900">
    <left-nav-bar></left-nav-bar>
    <router-view/>
  </div>
</template>

<style lang="scss">

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #121212;
  //color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    //color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<script lang="ts">
import 'tailwindcss/tailwind.css'
import './components/LeftNavBar.vue'
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class App extends Vue {
}
</script>
